*.pid
*.xml
*.csr
*.crt
*.key
*.pickle
*.bkup
*.v1
*.DS_Store
*._.DS_Store
*.google.token
*.HA_VERSION
*.homekit.state
*.uuid
*.viminfo
google_calendars.yaml
bravia.conf
emulated_hue_ids.json
fitbit.conf
www
OZW_Log.txt
home-assistant.log
home-assistant.log.*
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
mysensors.json
*.conf
plex.conf
phue.conf
harmony_listentomusic.conf
harmony_livingroom.conf
harmony_playps4.conf
harmony_playretro.conf
harmony_poweroff.conf
harmony_watchappletv.conf
harmony_watchtv.conf
ios.conf
*.ios.conf
pyozw.sqlite
usps_cache.sqlite
zwave_device_config.yaml
zwcfg_0xd5bdf47a.xml
zwscene.xml
.*
!/.travis.yml
!/.gitignore
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
gitupdate.sh
.netrc
/sensors/thermostat.yaml
/custom_components/device_tracker/__pycache__/*
/custom_components/media_player/*
entity_registry.yaml
panels/floorplan.html
*.sublime-project
*.sublime-workspace
